# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# Jest test outputs
coverage/
*.lcov

# MacOS system files
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Temp files
*.tmp
*.temp

# Lock files (optional, depending on your team’s policy)
package-lock.json
